<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AES.EncryptDecrypt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AES.EncryptDecrypt.Properties.Settings>
            <setting name="BLOCK_ROW_SIZE" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BLOCK_COLUMN_SIZE" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BOX_SIZE" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MIX_COLUMN_CONSTANT" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="INPUT_BLOCK_SIZE" serializeAs="String">
                <value>16</value>
            </setting>
        </AES.EncryptDecrypt.Properties.Settings>
    </applicationSettings>
</configuration>